VITE_GOOGLE_CLIENT_ID='Your Google Client ID here'
VITE_GOOGLE_CLIENT_SECRET='Your Google Client Secret here'
VITE_GOOGLE_CALLBACK_URL='http://localhost:5173/auth/google/callback'
VITE_SESSION_SECRET='Your Session Secret here'
